@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Poppins&family=Space+Grotesk&display=swap");
@import url("../../node_modules/bootstrap/dist/css/bootstrap-grid.min.css");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
$breakpoints-up: (
  "sm": "576px",
  "md": " 768px",
  "lg": "992px",
  "xl": "1200px",
  "xxl": "1400px",
);

// 639px, 1023px, 1399px
$breakpoints-down: (
  "sm": "575px",
  "md": " 767px",
  "lg": "991px",
  "xl": "1199px",
  "xxl": "1399px",
);

@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}
